<div class="container mt-5 pt-5">
    <h1 class="">Bank Details</h1>
<div class="shadow p-3 mb-5 bg-white rounded">
    <ul class="list-unstyled">
        <li ><strong>Bank ID:       </strong> {{details[0].bank_id}} </li>
        <li ><strong>Bank Name:     </strong> {{details[0].bank_name}} </li>
        <li ><strong>Bank Addres:   </strong> {{details[0].address}} </li>
        <li ><strong>State:         </strong> {{details[0].state}}</li>
        <li ><strong>District:      </strong> {{details[0].district}} </li>
        <li ><strong>City:          </strong> {{details[0].city}} </li>
        <li ><strong>Bank IFSC Code: </strong> {{details[0].ifsc}} </li>

    </ul>
</div>
</div>